/**********************************/
/********** Top News CSS **********/
/**********************************/
.top-news {
    position: relative;
    width: 100%;
    padding: 30px 0 0 0;
}

.top-news .tn-left {
    margin-bottom: 30px;
    height: 50vh;
}

.top-news .tn-right {
    height: 50vh;
}

.row {
    align-items: normal;
}

.item {
    margin-bottom: 1vh !important;
}

.top-news .tn-right-inner {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: self-start !important;
}

.top-news .tn-img {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.top-news .tn-img img {
    width: 100%;
}

.main-img {
    height: 52vh;
    object-fit: cover;
}

.main {
    height: 98.2% !important;
}

.newsimg {
    height: 24vh !important;
    object-fit: cover;
}

/* .top-news .tn-img:hover img {
    filter: blur(5px);
    -webkit-filter: blur(5px);
} */

.top-news .tn-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 10px 15px 20px;
    background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3), rgba(0, 0, 0, .9));
    display: flex;
    align-items: flex-end;
}

.top-news .tn-content a.tn-date {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    transition: .3s;
    letter-spacing: 1px;
}

.top-news .tn-content a.tn-date i {
    margin-right: 5px;
}

.top-news .tn-content a.tn-date:hover {
    text-decoration: underline;
}

.top-news .tn-content .tn-title {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    transition: .3s;
}

.top-news .tn-left .tn-content a.tn-title {
    font-size: 1.8rem;
    font-weight: 700;
}

.top-news .tn-content a.tn-title:hover {
    color: #E47A2E;
}

.loadingSkeleton {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}




@media only screen and (max-width: 500px) {
    .top-news .tn-content .tn-title {
        display: block;
        width: 100%;
        color: #ffffff;
        font-size: 0.8rem;
        font-weight: 400;
        transition: .3s;
    }

    .top-news .tn-left .tn-content a.tn-title {
        font-size: 1rem;
        font-weight: 700;
    }
}